@import url(https://fonts.googleapis.com/css?family=Concert+One);

h1 {
    animation: glow 10s ease-in-out infinite;
    animation: none;
    -webkit-text-stroke: 1px #fff;
}

* {
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    overflow: hidden;
    text-align: center;
}

.hero {
    width: 100vw;
    height: 100vh;
}