@import url(https://fonts.googleapis.com/css?family=Concert+One);

* {
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    overflow: hidden;
    text-align: center;
}

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ensure ripples canvas is properly positioned */
.hero canvas {
    position: absolute;
    top: -250px;
    left: 0;
}